<h1> Users List from API</h1>

    <ul class="list-group">
        {{#each users}}
        <li  class="list-group-item " aria-current="true">
           <a href="/edituserview/{{id}}" type="button" class="btn btn-outline-primary">
           <i class="bi-pencil"></i>
      </a>
            <strong>{{id}} {{firstName}}-{{lastName}}</strong> - {{email}}
        </li>
        {{/each}}
    </ul>

 


<div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
  <div class="progress-bar" style="width: 20%"></div>
</div>
  