<h1> Users List from API</h1>

    <ul class="list-group">
        {{#each users}}
        <li  class="list-group-item " aria-current="true">
           <a href="/edituserview/{{id}}" type="button" class="btn btn-outline-primary">
           <i class="bi-pencil"></i>
      </a>
            <strong>{{id}} {{firstName}}-{{lastName}}</strong> - {{email}}
        </li>
        {{/each}}
    </ul>

  